<section class="main_wrapper">
   
    <header class="header_wrapper">
        <h1 class="header_wrapper__title">{{title}}</h1>
        <h2  class="header_wrapper__jobTitle">FRONT-END DEVELOPER</h2>
        <button (click)="downloadPDF()" class="download-button" id="downloadBtn">Download CV</button>
    </header>
    <section class="container">
        <div class="row">
            <aside class="col-12 col-lg-5 aside_wrapper">
                <div class="aside_wrapper__contact_box">
                    <h3 class="aside_wrapper__title">Contact</h3>
                    <div class="aside_wrapper__info_box">
                        <img src="https://github.com/ari-rm21/git-resume/blob/main/docs/assets/images/phone_icon.png" alt="phone icon">
                        <a class="links" href="tel:+50672057266" target="_blank">+506 7205-7266</a>
                    </div>
                    <div class="aside_wrapper__info_box">
                        <img src="https://github.com/ari-rm21/git-resume/blob/main/docs/assets/images/email_icon.png" alt="email icon">
                        <a class="links" href="mailto:ariiana1d@gmail.com" target="_blank">ariiana1d&commat;gmail.com</a>
                    </div>
                    <div class="aside_wrapper__info_box">
                        <img src="https://github.com/ari-rm21/git-resume/blob/main/docs/assets/images/site_icon.png" alt="site icon">
                        <a class="links" href="https://www.linkedin.com/in/ariana-rodriguez-38a362116/" target="_blank">LinkedIn Profile</a>
                    </div>
                    <div class="aside_wrapper__info_box">
                        <img src="https://github.com/ari-rm21/git-resume/blob/main/docs/assets/images/location_icon.png" alt="location icon">
                        <p>Heredia, Costa Rica</p>
                    </div>
                </div>

                <div class="aside_wrapper__skills_box">
                    <h3 class="aside_wrapper__title">Skills</h3>
                    <ul class="aside_wrapper__skills_list">
                        <li>Programming Languages</li>
                        <li>Responsive Web design</li>
                        <li>Email development</li>
                        <li>Banner Animation development</li>
                    </ul>
                
                </div>

                <div class="aside_wrapper__education_box">
                    <h3 class="aside_wrapper__title">Education</h3>
                    <p class="aside_wrapper__education_title">System Computer Engineering</p>
                    <h3 class="aside_wrapper__school_title">Universidad Fidélitas</h3>
                    <p class="aside_wrapper__education_date spacer">2022 - Currently</p>
                    <p class="aside_wrapper__education_title">Web Development</p>
                    <h3 class="aside_wrapper__school_title">Universidad Politécnica Costa Rica
                    </h3>
                    <p class="aside_wrapper__education_date">2017 - 2019</p>
                    <p class="aside_wrapper__education_skills">Skills: Responsive web design, HTML, CSS, JS, PHP, Adobe PSD</p>
                
                    <p class="aside_wrapper__education_title">Business Informatics</p>
                    <h3 class="aside_wrapper__school_title">CTP Mercedes Norte
                    </h3>
                    <p class="aside_wrapper__education_date">2013 - 2016</p>
                    <p class="aside_wrapper__education_skills">Skills: databases, C++, Java, .NET, HTML, CSS, Virtualization</p>
                </div>

                <div class="aside_wrapper__languages_box">
                    <h3 class="aside_wrapper__title">Languages</h3>
                    <div class="aside_wrapper__progressBar_box">
                        <p class="aside_wrapper__progressBartitle">English</p>
                        <div id="progressBarEnglish">&nbsp;</div>
                    </div>
                    <div class="aside_wrapper__progressBar_box">
                        <p class="aside_wrapper__progressBartitle">Spanish</p>
                        <div id="progressBarSpanish">&nbsp;</div>
                    </div>
                </div>
            </aside>

            <article class="col-12 col-lg-7 article_wrapper">
                <div class="article_wrapper__aboutMe_box">
                    <h3 class="article_wrapper__title">About Me</h3>
                    <p class="article_wrapper__bio">I consider myself a responsible person, attentive to details, with problem-solving skills, quick learning and capable of managing processes, I also consider myself a person dedicated to delivering quality work that meets the requirements of the industry. I love to take on new challenges and experiences that allow me to develop professionally in the workplace.</p>
                </div>
                <div class="article_wrapper__workExperience_box">
                    <h3 class="article_wrapper__title">Work Experience</h3>
                    <h3 class="aside_wrapper__school_title">Front end Developer</h3>
                    <div class="article_wrapper__experienceBox">
                        <p>
                            Prose on Pixels
                        </p>
                        <p>2020 - 2024</p>
                    </div>
                    <p>As Front end developer I acquired the following experience:
                    </p>
                    <ul class="article_wrapper__experience_list">
                        <li>Development of HTML5 Emails Following Best Practices.</li>
                        <li>Development of banner animations that meet industry standards.</li>
                        <li>Development of windows applications </li>
                        <li>Maintenance of landing pages</li>
                    </ul>
                    <p>For this position I've worked with the following programming skills:</p>
                    <ul  class="article_wrapper__experience_list">
                        <li>HTML, CSS , Javascript</li>
                        <li>Bootstrap</li>
                        <li>Angular JS</li>
                        <li>Gsap JS</li>
                        <li>Capacitor</li>
                        <li>Electron</li>
                        <li>Salesforce</li>
                        <li>Veeva Vault</li>
                        <li>Adobe Experience Manager</li>
                        <li>GIT</li>
                        <li>Adobe PSD, Adobe XD</li>
                        <li>Figma</li>
                        <li>Sketch</li>
                    </ul>
                    <h3 class="aside_wrapper__school_title">
                        Associate Creative Engineer</h3>
                    <div class="article_wrapper__experienceBox">
                        <p>
                            PDG Latam
                        </p>
                        <p>2018 - 2020</p>
                    </div>
                    <p>As Associate creative engineer I acquired the following experience:
                    </p>
                    <ul  class="article_wrapper__experience_list">
                        <li>Build Responsive HTML5 emails </li>
                        <li>Experience creating Email campaigns on Oracle Responsys</li>
                        <li>Deployment of emails on Oracle Responsys</li>
                        <li>Creation of checklist and peer reviews with Excel</li>
                    </ul>
                    <p>For this position I've worked with the following programming skills:</p>
                    <ul  class="article_wrapper__experience_list">
                        <li>HTML, CSS , Javascript</li>
                        <li>Responsive web design</li>
                        <li>Pixel Perfect</li>
                        <li>Oracle Responsys</li>
                        <li>SQL</li>
                        <li>Email on Acid </li>
                        <li>Adobe PSD, Adobe Dreamwever</li>
                        <li>GIT</li>
                        <li>SourceTree</li>
                    </ul>
                </div>
            </article>
        </div>
 
    </section>
</section>


<router-outlet />
